<h1>Submitted Info</h1>
<p>Name: <%= result.name %></p>
<p>Location: <%= result.location %></p>
<p>Favrite Language:  <%= result.language %></p>
<p>Comment(optional):  <%= result.comment %></p>
<a href="/" alt="go back">Go Back</a>
